.fullSite {
  width: auto;
  height: auto;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  background: linear-gradient(to bottom,#7f9697,#d5f5f5,#e5f5f5,#f5f5f5);
}
.box {
  width: auto;
  margin: 0 1em;
  height: auto;
  text-align: left;
  padding: 3px;
  margin-bottom: 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.textbox {
  display: block;
  border: 2px solid #ff00ff00;
  flex: 1;
}
.titleBox {
  justify-content: center;
  display: flex;
  background-color: #9bc1c2;
  border: 4px solid #7ba1a2;
  margin-bottom: 15px;
  color: #3f2860;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 3px 2px #454545;
  font-family:Arial, Helvetica, sans-serif;
}
.endingBox {
  justify-content: center;
  display: flex;
  padding: 5px;
  background-color: #9bc1c2;
  border: 4px solid #7ba1a2;
  margin-bottom: 15px;
  margin: 0 1em;
  color: #3f2860;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px -3px 2px px #454545;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  text-align: center;
}
.linkBox {
  justify-content: center;
  display: flex;
  box-shadow: 0px 8px 3px -4px #454545;
  width: fit-content;
  margin: 1em auto;
  padding: 0 1em;
}
a{
  transition: 0.3s;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
a:hover {
  font-size: 1.05em;
  transition: 0.3s;
}